<div class="row span6 offset3 ">
  <h2>注册</h2>
  <%= simple_form_for(resource, :as => resource_name ,:url => registration_path(resource_name),html: { class: 'form login-form' } ) do |f| %>
    <%= devise_error_messages! %>
    <%=f.input "email" -%>

    <%=f.input "password" -%>
    <%=f.input "password_confirmation" -%>
    <div class="actions">
      <%= f.submit "注册",:class=>"btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>


###
PS图标中.....